<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Викторина</title>
</head>
</head>
<body>
    <div class='header'>
        <div class="intoheader"></div>
        <h1 class='0333'>Quizzes</h1>
        <div class="whitecutter"></div>
    </div>
    <div class ="mainblock_test">
        <div class="container">
            {% if question %}
                <h1 class="question_test">{{ question }}</h1>
            {% endif %}
            <form method="post" action="test">
                <input type="hidden" name="question_id" value="{{ question_id }}">
                {% for answer in answers %}
                    <div class="form_radio_container">
                        <input type="radio" id="answer_{{ loop.index }}" name="answer" value="{{ answer }}" class="form_radio_input">
                        <label for="answer_{{ loop.index }}" class="form_radio_btn">{{ answer }}</label>
                    </div>
                {% endfor %}
                <p><input class="quiz-submit1" type="submit" value="Ответить"></p>
            </form>
        </div>
    </div>
    </body>
</html>
